*.pyc
/.settings
/sqlite.db
/*~
/.directory
/.coverage
/Makefile

## don't track build crap
/debian/files
/debian/*.debhelper.log
/debian/*.postinst.debhelper
/debian/*.prerm.debhelper
/debian/*.postrm.debhelper
/debian/*.substvars
/debian/sidu-manual/
/debian/sidu-manual-data/
/debian/sidu-manual-server/

/icons/hicolor/
/icons/pixmaps/
/icons/sidu-manual.xpm
/i.sh
