*.pyc
.settings
sqlite.db
*~
.directory
.coverage
Makefile

## don't track build crap
debian/files
debian/sidu-manual.debhelper.log
debian/sidu-manual.postinst.debhelper
debian/sidu-manual.prerm.debhelper
debian/sidu-manual.postrm.debhelper
debian/sidu-manual.substvars
debian/sidu-manual/
icons/hicolor/
icons/pixmaps/
i.sh
