#top-navigation {
    right: 0;
    color: white;
    margin:  0px 50px 0 50px;
    position: absolute;
    top: 80px;
    width: 20em;
}

#top-navigation a {
    color: white;
}

#top-navigation a:visited {
    color: white;
}

#top-navigation a:hover {
    color: #c66323;
}

#top-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#top-navigation li {
    display: block;
    margin: 0 0 0 5px;
    float: left;
    position: relative;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}
