/*
* siduction manual fontface.css
* copyright: 2013      Alf Gaida <agaida@siduction.org>
*            2011-2012 Hendrik Lehmbruch <hendrikl@siduction.org>
* License: WTFPL 2.0
*/

@font-face {
    font-family: 'DroidSansRegular';
    src: url('fonts/droidsans-webfont.eot');
    src: url('fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidsans-webfont.woff') format('woff'),
         url('fonts/droidsans-webfont.ttf') format('truetype'),
         url('fonts/droidsans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansBold';
    src: url('fonts/droidsans-bold-webfont.eot');
    src: url('fonts/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidsans-bold-webfont.woff') format('woff'),
         url('fonts/droidsans-bold-webfont.ttf') format('truetype'),
         url('fonts/droidsans-bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansMonoRegular';
    src: url('fonts/droidsansmono-webfont.eot');
    src: url('fonts/droidsansmono-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidsansmono-webfont.woff') format('woff'),
         url('fonts/droidsansmono-webfont.ttf') format('truetype'),
         url('fonts/droidsansmono-webfont.svg#DroidSansMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerifRegular';
    src: url('fonts/droidserif-regular-webfont.eot');
    src: url('fonts/droidserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidserif-regular-webfont.woff') format('woff'),
         url('fonts/droidserif-regular-webfont.ttf') format('truetype'),
         url('fonts/droidserif-regular-webfont.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerifBoldItalic';
    src: url('fonts/droidserif-bolditalic-webfont.eot');
    src: url('fonts/droidserif-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidserif-bolditalic-webfont.woff') format('woff'),
         url('fonts/droidserif-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/droidserif-bolditalic-webfont.svg#DroidSerifBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerifBold';
    src: url('fonts/droidserif-bold-webfont.eot');
    src: url('fonts/droidserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidserif-bold-webfont.woff') format('woff'),
         url('fonts/droidserif-bold-webfont.ttf') format('truetype'),
         url('fonts/droidserif-bold-webfont.svg#DroidSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerifItalic';
    src: url('fonts/droidserif-italic-webfont.eot');
    src: url('fonts/droidserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidserif-italic-webfont.woff') format('woff'),
         url('fonts/droidserif-italic-webfont.ttf') format('truetype'),
         url('fonts/droidserif-italic-webfont.svg#DroidSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}