@CHARSET "UTF-8";
body { font-size: 12px; background: white;  }
h1,h2,h3,h4 { padding: 0.3em; border-top: solid #162d50 1px; color: #162d50; }
h1 { font-size: 1.5em; padding: 0.5em; background: #cccccc; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }

.textblock { padding: 0.5em; border: solid #ff6600 1px; }
pre { border: 1px #0f0f0f dotted; padding-left: 1em; }

.toc { background: white; background: #eCeCeC; padding: 0.5em; }

