Source: sidu-manual
Section: web
Priority: extra
Maintainer: J. Hamatoma <hama@siduction.net>
Uploaders: Alf Gaida <agaida@siduction.org>,
 Hendrik Lehmbruch <hendrikl@siduction.org>,
 Ferdinand Thommes <devil@siduction.org>,
 Ovidiu Angelescu <convbsd@siduction.net>, 
Build-Depends: debhelper (>= 9),
 inkscape,
 imagemagick,
Standards-Version: 3.9.4
Homepage: http://siduction.org
Vcs-git:  git://git3@git.siduction.org:code/sidu-manual
Vcs-Browser: http://git.siduction.org/?p=code/sidu-manual.git

Package: sidu-manual
Architecture: all
Depends: ${misc:Depends},
 python (>= 2.6),
 python-support (>= 0.90),
 pyygle (>=2013.12.03),
 sidu-base(>= 2013.12.03)
Description: manual for siduction
 The main content is a set of HTML files describing features, handling
 and tips for siduction.
 A framework manages the common view of the pages: the navigation (menu),
 the header (with logo and links to other siduction sites) and the footer
 are generated for each page from a single template.
