Source: sidu-manual
Section: unknown
Priority: extra
Maintainer: J. Hamatoma <hama@siduction.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://siduction.org
Vcs-git:  git://git3@git.siduction.org:code/sidu-manual
Vcs-Browser: http://git.siduction.org/?p=code/sidu-manual.git

Package: sidu-manual
Architecture: all
Depends: ${misc:Depends},
    python (>= 2.7),
    python-django (>= 1.4),
    pywwetha (>= 1.0),
    sidu-base(>= 0.1)
Description: the manual for siduction
 The main content is a set of HTML files describing features, handling
 and tips for siduction.
 A framework manages the common view of the pages: the navigation (menu),
 the header (with logo and links to other siduction sites) and the footer
 are generated for each page from a single template.
