MAIN:
<h1>{{expert.title}}</h1>

<p>{{expert.intro}}</p>
<form method="GET" action="!expert">
<p> <input type="checkbox" {{chk_mode}} name="mode" value="T" /> {{expert.mode}}
</p>
<p>
<input type="submit" name="button_set" value="{{expert.button_set}}" />
</p>

</form>
