<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="{{!language}}">
<head>
	<title>{{!title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style type="text/css" media="all">@import url("{{STATIC_URL}}/static/lib/css-js/content.css");</style>
	<style type="text/css" media="all">@import url("{{STATIC_URL}}/static/lib/css-js/topmenu.css");</style>
    <style type="text/css" media="all">@import url("{{STATIC_URL}}/static/lib/css-js/menu.css");</style>
    <style type="text/css" media="print">@import url("{{STATIC_URL}}/static/lib/css-js/print.css");</style>
    <link rel ="shortcut icon" href="{{STATIC_URL}}/static/lib/favicon/manual.ico" />
    <script type="text/javascript" src="{{STATIC_URL}}/static/lib/css-js/menu2.js"></script>
    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/static/lib/css-js/ie_5-7_override.css">
    <![endif]-->
    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/static/lib/css-js/ie_5-6_override.css">
    <![endif]-->
{{META_DYNAMIC}}
</head>
<body class="body-main">
<p><img class="header-img" alt="{{.txt_alt_logo}}" src="{{STATIC_URL}}/static/lib/logos/siduction-logo-web.png" /></p>
  <div id="top-navigation" class="clearfix">
  <ul id="top-menu-list">
   <li><a href="http://siduction.org">{{.txt_top_menu_news}}</a></li>
   <li><a href="http://siduction.org/index.php?module=News">{{.txt_top_menu_blog}}</a></li>
   <li><a href="http://wiki.siduction.de/">{{.txt_top_menu_wiki}}</a></li>
   <li><a href="http://siduction.org/index.php?name=PNphpBB2&amp;lang={{!language}}">{{.txt_top_menu_forum}}</a></li>
  </ul>
 </div> <!-- top-navigation -->
<div id="bg" class="to-top">

<div id="menu">
	<div id="menu-header">
	      <a href="http://siduction.org/"><img src="{{STATIC_URL}}/static/lib/logos/manual-siduction-logo.png" title="{{.txt_logo_title}}" alt="{{.txt_logo_alt}}" /></a>
	</div>

	<ul id="top-list">
		<li><a href="!search"> <img src="/static/lib/logos/manual-search-22x22.png" title="{{.txt_search}}" alt="{{.alt_search}}" />{{.txt_search}}</a> </li>
	</ul>
	<div id="flags-2">
			<a href="!language"><img src="/static/lib/logos/siduction-lang-100x64.png" title="{{.txt_lang_switch}}" alt="{{.alt_lang_switch}}" /></a>
	</div>
	<div id="navi">
{{MENU}}
	</div> <!-- navi -->
	<div id="menu-header-5">
		<a href="http://siduction.org/index.php?module=Content&amp;func=view&amp;pid=3"><img src="{{STATIC_URL}}/static/lib/logos/siduction_donate_75.png" title="{{.txt_donate}}" alt="{{.txt_donate}}" /></a>
	</div><!-- menu-header-5 -->
</div> <!-- menu -->

<div id="main-page">
{{CONTENT}}
</div> <!-- main-page -->
</div> <!-- bg -->

<div id="footer" class="clear">
{{.txt_footer}}
</div>
</body>
</html>
